<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dmbot_imu">
  <xacro:property name="port" value="/dev/ttyACM0"/>
  <xacro:property name="baud" value="921600"/>
  <xacro:property name="frame_id" value="imu_link"/>
  <xacro:property name="simulate" value="false"/>

  <link name="imu_link"/>

  <ros2_control name="DMBotControl" type="sensor">
    <hardware>
      <plugin>dm_imu::ImuHardware</plugin>
      <param name="port">${port}</param>
      <param name="baud">${baud}</param>
      <param name="frame_id">${frame_id}</param>
      <param name="simulate">${simulate}</param>
    </hardware>
    <sensor name="imu">
      <state_interface name="orientation.x"/>
      <state_interface name="orientation.y"/>
      <state_interface name="orientation.z"/>
      <state_interface name="orientation.w"/>
      <state_interface name="angular_velocity.x"/>
      <state_interface name="angular_velocity.y"/>
      <state_interface name="angular_velocity.z"/>
      <state_interface name="linear_acceleration.x"/>
      <state_interface name="linear_acceleration.y"/>
      <state_interface name="linear_acceleration.z"/>
    </sensor>
  </ros2_control>
</robot>
